.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #edeef2;
}

.app__body {
  z-index: 100;
  display: flex;
  background-color: #edeef2;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

header {
  background-color: #009688;
  position: absolute;
  min-height: 125px;
  top:0;
  left: 0;
  width: 100%;
}